@tailwind base;
@tailwind components;
@tailwind utilities;


/* Monospace stack g·ªçn */
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
